@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add to your Tailwind config file for better organization */
.icon-style {
  @apply text-neutral-700 dark:text-neutral-200 h-5 w-5 flex-shrink-0;
}
.container-style {
  @apply rounded-sm min-h-dvh flex flex-col md:flex-row bg-gray-100 dark:bg-neutral-800 w-full mx-auto border border-neutral-200 dark:border-neutral-700 overflow-hidden h-[60vh];
}
.sidebar-body-style {
  @apply justify-between gap-10;
}
.sidebar-content {
  @apply flex flex-col flex-1 overflow-y-auto overflow-x-hidden;
}
.links-style {
  @apply mt-8 flex flex-col gap-2;
}
.avatar-style {
  @apply h-7 w-7 flex-shrink-0 rounded-full;
}
.logo-style {
  @apply font-normal flex space-x-2 items-center text-sm text-black py-1 relative z-20;
}
.logo-box {
  @apply h-5 w-6 bg-black dark:bg-white rounded-br-lg rounded-tr-sm rounded-tl-lg rounded-bl-sm flex-shrink-0;
}
.logo-text {
  @apply font-medium text-black dark:text-white whitespace-pre;
}
.dashboard-style {
  @apply p-2 md:p-10 rounded-tl-2xl border border-neutral-200 dark:border-neutral-700 text-white dark:bg-neutral-900 flex flex-col gap-2 flex-1 w-full h-full;
}
.content-box {
  @apply h-20 w-full rounded-lg bg-gray-100 dark:bg-neutral-800 animate-pulse;
}
/* hero-bg */
.hero_area {
  background: url("/programming-bg.jpg") no-repeat;
  background-position: right bottom;
  background-size: 100% 100%;
  position: relative;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 8, 8, 0.517);
}
/* profile style */
.profile {
  border: 3px solid transparent;
  background-image: linear-gradient(#ededed, #d1d1d1),
    linear-gradient(65deg, #f53520 0%, #083be3 75%, #077e15 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 50%;
}

/* about page bg-image */
.about-bg {
  background: linear-gradient(80deg, #070211ca 0%, rgba(7, 2, 17, 0) 100%),
    url("https://i.ibb.co/vhbBB3Z/programmer.jpg") no-repeat;
  background-position: right bottom;
  background-size: 100% 100%;
}

.my-p {
  color: #a2a2a2;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
